<h2> Thank you for your donation </h2>

<p> Here is a confirmation hash for the transaction : [will include transaction hash] </p>

<p> You should also receive a text shortly confirming your transaction </p>