<div class = 'row'>
  <div class="col-md-5 col-md-offset-2">
    <form action='/ent/new' method='get' class='pull-left'>
        <button type='submit' class='btn btn-lg btn-primary' value='Find out more'>Entrepreneur</button>
    </form>

    <form action='/donor/new' method='get' class='pull-right'>
        <button type='submit' class='btn btn-lg btn-success' id='donate' value='Donate'>Donor</button>
    </form>
  </div>
</div>