<div class='container'>
  <div class='row'>
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <% if @entrepreneurs %>
          <% @entrepreneurs.each do |ent| %>
              <div class='col-md-5 transition project'>
                <p class='project-title'> <%=ent.project%> </p>
                <div class='dummy'>
                </div>
                <form action='/ent/:id' method='post' class='pull-left' id='boxfit'>
                    <input type='hidden' name='ent_id' value='<%=ent.id%>'>
                    <button type='submit' class='btn btn-default' value='Find out more'>Find out more</button>
                </form>
                <form action='/donate/:id' method='post' class='pull-right donatebutton' id='boxfit'>
                    <input type='hidden' name='ent_id' value='<%=ent.id%>'>
                    <button type='submit' class='btn btn-default' id='donate' value='Donate'>Donate</button>
                </form>
              </div>
          <%end%>
        <%end%>
      </div>
    </div>
</div>